.about-container {
    max-width: 583px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    position: relative;
    bottom: -180px;
    left: 70px;
    margin-right: 1x;
    text-align: left;
    color: grey;
  }
  #fotoabt{

    position: absolute;
    left: 917px;
    top: 72px;
    margin: 1px;
    padding: 1px;
    width: 610px;
    height: 680px;
  }
  
#abt{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 80px;
  position: absolute;
  bottom: 500px;
  right: 1100px;
  padding: 5px;
  color: rgb(93, 73, 58);
  
  
}

#info4{
  color: rgb(93, 73, 58);
  
}
