@media only screen and (min-width: 768px) {
  .about-container {
    max-width: 30vw;
    font-size: 1vw;
    text-align: left;
    margin-top: 155px;
    margin-right: 20px;
    margin-left: 20px;
  }

  #fotoabt {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  #abt {
    font-size: 3vw;
    position: relative;
    bottom: -8vw;
    right: 38vw;
    margin: 0;
  }
}
