body {
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #222;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 13px 9px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-container {
    position: fixed;
    top: 200px;
    left: 200px;
    width: calc(100% - 150px);
    height: 100vh;
    overflow-y: auto;
}

.btn {
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: inherit;
}

.button-edit-product {
    position: relative;
    left: 240px;
}

.button-edit-aboutus {
    position: relative;
    left: 260px;
}

.btn-edit {
    background-color: #008cba;
}

.btn-delete {
    background-color: #f44336;
}

.btn.btn-User {
    background-color: green;
}

.btn.btn-edit:hover {
    background: #008cba;

}

.btn.btn-edit:hover::after {
    content: none;
}

.btn.btn-delete:hover {
    background: #f44336;
}

.btn.btn-delete:hover::after {
    content: none;
}

.btn:hover {
    background-color: none;
    color: black;
}

button:hover {
    background: none;
}

button:hover::after {
    content: none;
}

.yes-btn {
    margin-left: 5px;
}

.yes-btn label {
    font-size: 20px;
}

.cancel-btn {
    margin-left: 200px;
}

.cancel-btn,
.yes-btn {
    padding: 20px 20px;
}

.cancel-btn:hover,
.yes-btn:hover {
    background-color: gray;
}

button.btn.btn-edit {
    margin-left: 20px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
}

button.btn.btn-User {
    margin-left: 20px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
}

button.btn.btn-delete {
    margin-left: 20px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
}
 
#txt .td {
    padding-right: 20px;
}