container .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    margin-right: 120px;
}
.container .row .abotUs{
    padding: 30px;
    margin: 1px;
    text-align: left;
    
    

}
.container .row .contact{
    padding: 30px;
    margin-right: 60px;
    text-align:right;
    position: relative;
    bottom: 8vw;
    

}

footer {
    position: relative;
    background-color: #222;
    color: #fff;
  }
  
.container .row .follow{
    position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);

}

ul.social-icons {
    list-style-type: none;
    display: inline-flex;
    gap: 50px;
    
    margin-top: 10px;
    
  }
.paragrafi{
    margin-top: 20px;
}

.social-icons li a i {
    font-size: 2em;
    
    margin: 0;
    padding: 0;
    color: #12128f;

  }
  