.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.about-us h1 {
  /* background: rgb(75, 146, 175);
  background: linear-gradient(90deg, rgba(75, 146, 175, 1) 0%, rgba(249, 251, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  position: relative;
  top: 170px;
  right: 50px;
}

.about-us p {
  position: relative;
  bottom: 500px;
  left: 290px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.about-us-image {
  position: relative;
  top: 130px;
  right: 350px;
  width: 550px;
  height: auto;
}

.gradient-button {
  background: rgb(75, 146, 175);
  background: linear-gradient(90deg, rgba(75, 146, 175, 1) 0%, rgba(174, 175, 160, 1) 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom: 500px;
  left: 280px;
  text-decoration: none;
}

.gradient-button:hover {
  opacity: 0.9;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .about-us {
    padding: 10px;
  }

  .about-us h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
  }

  .about-us p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
  }
}