.input-label {
    position: absolute;
    top: -18px;
    left: 2px;
    padding: 10px 5;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}

.product-box {
    position: relative;
}

.product-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#emrifoto,
#foto {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#emri,
#cmimi {
    position: relative;
    right: 8px;
}

#foto {
    background-color: #3e3e3e;
    font-size: 14px;
    margin-top: 15px;
}

#submit-button {
    background-color: #33b249;
    margin-left: 7px;
    position: relative;
    right: 7px;
    width: 343px;
}

#goback-button {
    background-color: #5e5e5e;
    margin-left: 7px;
    position: relative;
    right: 7px;
    width: 343px;
}