body {
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #222;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 13px 9px;
    cursor: default;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-container {
    position: fixed;
    top: 200px;
    left: 200px;
    width: calc(100% - 150px);
    /* height: 100vh;
    overflow-y: auto; */
    max-height: 2000px;
    overflow-y: auto;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn.btn-User,
.btn.btn-edit,
.btn.btn-delete {
    background-color: #e2e2e2;
    margin-left: 20px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
}

.btn.btn-User:hover,
.btn.btn-edit:hover,
.btn.btn-delete:hover {
    border: 1.9px solid black;
}

.yes-btn,
.cancel-btn {
    background-color: #222;
    padding: 10px 10px;
}

.yes-btn:hover,
.cancel-btn:hover {
    background-color: rgb(190, 190, 190);
    transition: all 0.6s ease-in-out;
    color: black;
    font-weight: 700;
}

.yes-btn,
.yes-btn label {
    margin-left: 5px;
    font-size: 20px;
}

.cancel-btn {
    margin-left: 200px;
}

.clickable-header {
    text-decoration: none;
    color: inherit;
}

.clickable-header-user {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: 12px;
}

#fotoSizeProduct {
    max-width: 200px;
    max-height: 200px;
}

#fotoSizeSlideshow {
    max-width: 500px;
    max-height: 500px;
}

#fotoSizeCategory {
    max-width: 250px;
    max-height: 250px;
}

.products-table {
    position: relative;
    bottom: 200px;
    width: 100%;
    transform: scale(0.8);
    max-width: 1600px;
    margin-bottom: 200px;
    /* Adjust the margin for the desired spacing */
}

.products-table td {
    padding: 15px 10px;
    text-align: center;
}