body {
    font-family: "Nunito Sans", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #292929;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar-header {
    text-align: left;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.sidebar-menu-item {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-menu-item:hover {
    background-color: #444;
    border-left: 4px solid #E2E2E2;
}

.sidebar-menu-item-home {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
}

.sidebar-menu-item.active {
    background-color: #444;
    border-left: 4px solid #E2E2E2;
    font-weight: bold;
}

.sidebar-toggle-btn,
.sidebar-toggle-btn-alt {
    position: absolute;
    top: 18px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.sidebar.toggled {
    width: 88px;
    transition: width 0.3s ease-in-out;
}

.sidebar.toggled .sidebar-toggle-btn,
.sidebar.toggled .sidebar-toggle-btn-alt {
    font-size: 16px;
    transform: translateX(-10px);
}

.sidebar-toggle-btn:hover:not(.sidebar.toggled),
.sidebar-toggle-btn-alt:hover:not(.sidebar.toggled) {
    color: #f0f0f0;
}

.sidebar-toggle-btn-clicked {
    position: absolute;
    top: 18px;
    right: 5px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.home-link {
    position: relative;
    top: 550px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
    list-style: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-link:hover {
    background-color: #444;
}

.home-link.active {
    background-color: #444;
    border-left: 4px solid #f0f0f0;
    font-weight: bold;
}