@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cancel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 400px;
    left: 675px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.cancel-animation .animated-icon {
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 20px;
}

.cancel-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.cancel-subtext {
    font-size: 16px;
    color: #666;
}