.card_img img {
  max-width: 100%;
}

.card_header {
  flex-grow: 1;
}

.price {
  font-weight: bold;
}

.card .btn {
  background-color: green;
  border-radius: 10px;
  color: white;
  width: 55px;
  padding: 12px;
  height: 44px;
  width: 30%;
}

.card .cartButton {
  background-color: #28a745;
  border: 0ch;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  padding: 12px;
  height: 44px;
  width: 50%;
}

.card .cartButton:hover {
  cursor: pointer;
  color: black;
}

.cartButton {
  position: relative;
  right: 10px;
}

.card .butonat {
  display: flex;
  justify-content: space-evenly;
}