.cartCard {
    flex: 0 0 20%;
    margin: 0px;
    position: relative;
    left: 30px;
    top: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}

.cartCard_img img {
    max-width: 10%;
    margin: auto;
    margin-right: 1500px;
    position: relative;
    top: 60px;
}

.cartCard_header {
    flex-grow: 1;
    position: relative;
    bottom: 115px;
    left: 350px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cartItem {
    border: 10px solid #ffffff;
    border-top: 100px;
    padding: 20px;
    margin-bottom: 20px;
}

.cart-items p {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-items h1 {
    font-size: 24px;
    margin-top: 20px;
}

#addButton,
#deleteButton,
#removeButton {
    position: relative;
    bottom: 220px;
    left: 769px;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#addButton:hover,
#removeButton:hover,
#deleteButton:hover {
    background-color: #0069d9;
}

/* #addButton:hover {
    background-color: #0069d9;
}

#removeButton {
    position: relative;
    bottom: 175px;
    left: 716px;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#removeButton:hover {
    background-color: #0069d9;
}

#deleteButton {
    position: relative;
    bottom: 130px;
    left: 662px;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteButton:hover {
    background-color: #0069d9;
} */

.noItemsInCart {
    position: relative;
    top: 400px;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.noItemsInCart p {
    position: relative;
    bottom: 190px;
    font-size: 22px;
    margin-bottom: 10px;
}

.noItemsInCart a {
    position: relative;
    bottom: 190px;
    color: #007bff;
    text-decoration: none;
}

.noItemsInCart img {
    position: relative;
    bottom: 200px;
    left: 45px;
}

.noItemsInCart a:hover {
    text-decoration: none;
    color: #015bba;
}

#purchaseButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#purchaseButton:hover {
    background-color: #0069d9;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .cart-items {
        padding: 10px;
    }

    .cart-items p {
        font-size: 16px;
    }

    .cart-items h1 {
        font-size: 20px;
    }

    .editButtons {
        font-size: 14px;
    }

    .empty-cart {
        font-size: 20px;
    }

    #addButton,
    #removeButton,
    #deleteButton {
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: 10px;
        width: 100%;
    }
}