.cartCard {
    flex: 0 0 20%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    width: 1100px;
    height: 450px;
    position: relative;
    left: 400px;
    top: 120px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1)
}

.cartCard_img img {
    max-width: 25%;
    margin: auto;
    margin-right: 1500px;
    position: relative;
    top: 60px;
    aspect-ratio: 0.5 / 0.56;
}

.cartCard_header {
    flex-grow: 1;
    position: relative;
    bottom: 141px;
    left: 200px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cartItem {
    border-top: 100px;
    padding: 20px;
    margin-bottom: 20px;
}

.cart-items p {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-items h1 {
    font-size: 24px;
    margin-top: 20px;
}

.cart-name {
    position: relative;
    top: 130px;
    font-size: 40px;
}

.cart-total {
    position: absolute;
    right: 20px;
}

#addButton,
#deleteButton,
#removeButton {
    position: relative;
    bottom: 220px;
    left: 440px;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e2e2e2;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

#addButton:hover,
#removeButton:hover,
#deleteButton:hover {
    cursor: pointer;
    border: 1px solid black;
}

.noItemsInCart {
    position: relative;
    top: 450px;
    text-align: center;
    font-size: 24px;
}

.noItemsInCart p {
    align-content: center;
    position: relative;
    bottom: 350px;
    font-size: 22px;
    margin-bottom: 10px;
}

.noItemsInCart a {
    position: relative;
    bottom: 350px;
    color: #007bff;
    transition: all 0.6s ease-in-out;
}

.noItemsInCart img {
    position: relative;
    bottom: 320px;
    left: 45.5%;
    width: 460px;
    height: auto;
    margin-top: 50px;
    transform: translateX(-165%);
}

.noItemsInCart a:hover {
    color: #015bba;
}

#purchaseButton {
    position: relative;
    bottom: 45px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(98, 156, 170);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

#purchaseButton:hover {
    background-color: rgb(74, 127, 139);
    transition: all 0.6s ease-in-out;
}

.shoppingCart-container {
    margin: auto;
    margin-top: 100px;
    padding: 140px;
    margin-bottom: 100px;
}

.table-auto {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table-auto th,
.table-auto td {
    border-bottom: 1px solid #ddd;
    padding: 9px;
}

.table-auto th {
    background-color: #f4f4f4;
}

.table-auto img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.shoppingCart-header {
    position: relative;
    right: 660px;
    margin-bottom: 20px;
}

.button-purchase {
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    width: 11.1%;
}

.noItemsInCart {
    text-align: center;
}

.noItemsInCart img {
    position: relative;
    bottom: 540px;
    left: 780px;
    max-width: 100%;
    height: auto;
}

.noItemsInCart p {
    position: relative;
    bottom: 550px;
}

.noItemsInCart a {
    position: relative;
    bottom: 550px;
}

.button-remove {
    position: relative;
    left: 20px;
    background-color: #eaeaea;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 4px;
    font-size: 14px;
}

.button-remove:hover {
    background-color: #dfdddd;
    transition: all 0.6s ease-in-out;
}

.button-purchase {
    position: relative;
    left: 715px;
    margin-top: 10px;
    border: 1px solid rgb(219, 219, 219);
}

.quantity-btn {
    background-color: #eaeaea;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 4px;
}

.quantity-btn:hover {
    background-color: #dfdddd;
    transition: all 0.6s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .cart-items {
        padding: 10px;
    }

    .cart-items p {
        font-size: 16px;
    }

    .cart-items h1 {
        font-size: 20px;
    }

    .editButtons {
        font-size: 14px;
    }

    .empty-cart {
        font-size: 20px;
    }

    #addButton,
    #removeButton,
    #deleteButton {
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: 10px;
        width: 100%;
    }
}