body {
    background-color: #f6f4f4;
    overflow-x: hidden;
}

.categories-container {
    padding-top: 170px;
    text-align: center;
}

.categories-heading {
    position: relative;
    bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-item {
    margin: 0 20px 120px 0;
    text-align: center;
    box-sizing: border-box;
}

.category-link {
    background-color: #f5f5f5;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-left: 30px;
    height: 600px;
    width: 500px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.category-link:hover {
    transform: scale(1.007);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
    color: #2e2f2f;
    font-weight: bold;
}

.category-image {
    max-width: 60%;
    height: auto;
    aspect-ratio: 6/8;
}

.category-name {
    position: relative;
    top: 470px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .category-link {
        max-width: 290px;
        max-height: 370px;
    }

    .category-image {
        position: relative;
        bottom: 70px;
    }

    .category-name {
        position: relative;
        top: 240px;
        font-size: 22px;
    }
}