body {
  overflow-x: hidden;
}

.home-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.card_img {
  max-width: 100%;
}

/* Stilizimi i komponentit te produktit */
.product {
  border-radius: 4px;
  box-shadow: 3px 3px 5px #ccc;
  padding: 90px;
  text-align: center;
  width: 250px;
  margin-top: 10px;
}

.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  margin-bottom: 5px;
}

.card .wishlistButton:hover {
  cursor: pointer;
  color: rgb(226, 226, 226);
}

.wishlistButton {
  position: relative;
  left: 10px;
}

.card_header {
  flex-grow: 1;
  position: relative;
  bottom: 40px;
}

.price {
  font-weight: bold;
}

.card .btn {
  background-color: green;
  border-radius: 10px;
  color: white;
  width: 55px;
  padding: 12px;
  height: 44px;
  width: 30%;
}

.card .butonat {
  display: flex;
  justify-content: space-evenly;
}

.card .cartButton {
  background-color: #28a745;
  border: 0;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  padding: 12px;
  height: 44px;
  width: 100%;
  position: relative;
  bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card .cartButton:hover {
  transform: translateY(-2px);
}

.card .cartButton:active {
  transform: translateY(2px);
}

.card .wishlistButton {
  background-color: #f01a1a;
  position: relative;
  bottom: 50px;
  left: 50px;
  border: 0ch;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  padding: 12px;
  height: 44px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.card .wishlistButton:hover {
  transform: translateY(-2px);
}

.card .wishlistButton:active {
  transform: translateY(2px);
}


@media only screen and (max-width: 768px) {
  .main-content {
    justify-content: space-between;
  }

  .product {
    width: 100%;
    max-width: 300px;
  }

  .card {
    max-width: 100%;
    margin-left: 50px;
  }

  .card_header {
    padding: 10px 20px;
  }

  .card_img {
    height: 200px;
    overflow: hidden;
  }

  .card_img img {
    height: 100%;
  }

  .card .butonat {
    flex-direction: column;
  }

  .card .btn,
  .card .buton {
    width: 100%;
  }
}

.products-container {
  display: flex;
  direction: row;
  padding: 50px;
}