.product-container-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 30px 50px 60px;
    margin: -60px 100px 60px 140px;
    margin-top: 50px;
    gap: 1rem;
  }

.card {
    max-width: 100%;
}

.card_header {
    position: relative;
    bottom: 40px;
    flex-grow: 1;
}

.cardImg {
    max-width: 100%;
}

.product-category {
    width: 250px;
    height: 350px;
    padding: 90px;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;
}

#header {
    font-size: 30px;
    position: relative;
    top: 10px;
}

.noItemsInCategory {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 24px;
}

.noItemsInCategory a {
    color: #007bff;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.noItemsInCategory a:hover {
    text-decoration: none;
    color: #015bba;
}

.no-product-found {
    color: black;
}