* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f4f4;
  overflow-x: hidden;
}

.details-container {
  background-color: #F5F5F5;
  margin: auto 450px 100px 350px;
  width: 1000px;
  position: relative;
  top: 30px;
  left: 50px;
  height: 600px;
  margin-top: 190px;
  border-radius: 13px;
  border: 1px solid #f2f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flexbox;
  align-items: center;
}

#product-photo {
  position: relative;
  top: 5rem;
  right: 33.5%;
  width: 35%;
  max-width: 100%;
  margin-bottom: 0px;
  aspect-ratio: 2/2.4;
}

#product-photo:hover {
  cursor: pointer;
}

#product-name {
  position: relative;
  right: 2%;
  bottom: 540px;
  margin-left: 30px;
}

#product-details {
  position: relative;
  left: 38%;
  bottom: 600px;
  margin: 50px 100px 20px  100px;
  max-width: 100%;
  padding-right: 950px;
  text-align: justify;
}

#product-price {
  position: relative;
  right: 4.8%;
  bottom: 360px;
  font-size: 1.2em;
  font-weight: bold;
}

.product-buttons {
  position: relative;
  bottom: 550px;
  left: 1%;
  margin-bottom: 50px;
}

.cartButton,
.wishlistButton {
  padding: 15px 35px;
  margin-right: 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  background-color: #EAEAEA;
  cursor: pointer;
}

.cartButton:hover,
.wishlistButton:hover {
  cursor: pointer;
  color: rgb(226, 226, 226);
  border: 1px solid black;
}

.cartLink,
.wishlistLink {
  text-decoration: none;
  color: white;
}

.cardImg:hover {
  cursor: pointer;
}

.enlarged-image {
  transform: scale(1.9) translateX(46%) translateY(3%);
  transition: transform 0.9s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 50%;
  right: 120%;
  z-index: 9999;
}

.close-icon {
  transform: scale(1.5) translate(0, 0);
  transition: transform 0.9s ease-in-out;
  position: relative;
  bottom: 680px;
  left: 900px;
  cursor: pointer;
  fill: white;
}