.profile-container {
    margin-top: 180px;
    margin-left: 40px;
    padding: 20px;
    margin-bottom: 200px;
}

.profile-inner-container {
    padding: 34px;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 9px;
    height: 63vh;
    margin: 0 auto;
}

.profile-group {
    text-align: left;
    margin-bottom: 20px;
}

.profile-title {
    margin-bottom: 20px;
    user-select: none;
}

#id,
#username,
#profile-email,
#token {
    margin-right: 300px;
    width: 100%;
    padding: 10px;
    position: relative;
    right: 8px;
    font-size: 16px;
    cursor: not-allowed;
}

#token {
    user-select: none;
}

.inputGroup {
    margin-Bottom: 20px;
}

.profile-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.log-out {
    position: relative;
    bottom: 10px;
    margin-top: 20px;
    margin-right: 220px;
    padding: 10px 20px;
    background-color: rgba(122, 178, 191, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: #fff;
    width: 40%;
}

.admin-dashboard {
    position: relative;
    bottom: 51.5px;
    margin-left: 200px;
    padding: 10px 20px;
    background-color: rgba(122, 178, 191, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: #fff;
    width: 40%;
}