.slider {
    max-width: 100%;
    height: 1000px;
    padding-top: 50px;
    width: 100%;
    margin: auto;
    position: relative;
    bottom: 35px;
}

.slider .slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-image 0.6s ease-in-out;
}

.slider .slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -33px;
    width: 100%;
    z-index: 100;
}

.slider .slider-button {
    margin: 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
    bottom: 40px;
}

.slider .slider-button .custom-line {
    display: block;
    width: 100px;
    height: 6px;
    background-color: rgb(219, 219, 219);
    border-radius: 200px;
    position: relative;
    overflow: hidden;
}

.slider .slider-button .custom-line.active {
    background-color: rgb(29, 126, 122);
}

.slider .slider-button .custom-line:hover {
    background-color: rgb(155, 190, 198);
    opacity: 5;
    transition: all 1s ease-in-out;
}

:root {
    --slide-duration: 5000ms;
}

.slider .slider-button .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(212, 213, 188, 1);
    background-image: linear-gradient(90deg, rgba(212, 213, 188, 1) 0%, rgba(122, 178, 191, 1) 100%);
    animation: moving-progress var(--slide-duration) linear infinite;
}

@keyframes moving-progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .slider {
        margin: 0;
        padding: 0;
        margin-top: 140px;
    }

    .slider .slide {
        width: 105%;
        height: 50%;
        margin-left: -10px;
    }

    .custom-line {
        position: relative;
        bottom: 500px;
        width: 10%;
        height: 50%;
        gap: -22px;
    }

    .progress-bar {
        position: relative;
        width: 30%;
    }
}