.slider {
    max-width: 100%;
    height: 1000px;
    padding-top: 50px;
    width: 100%;
    margin: auto;
    bottom: 75px;
    position: relative;
}

.slider .slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}

.slider .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 2.5rem;
    height: 2.5rem;
}

.slider .arrow:hover {
    color: #585656;
}

.slider .arrow.left,
.slider .arrow.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-right: 12px;
}

.slider:hover .arrow.left,
.slider:hover .arrow.right {
    opacity: 20;
}

.slider .arrow.left {
    left: 5px;
}

.slider .arrow.right {
    right: 5px;
}

.slider .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    width: 100%;
}

.slider .dot {
    font-size: 2rem;
    cursor: pointer;
    margin: 0 0.5rem;
    color: rgba(0, 0, 0, 0.4);
}

.slider .dot.active {
    color: rgba(0, 0, 0, 0.8);
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -33px;
    width: 104%;
    z-index: 100;
}

.slider-button {
    margin: 0 5px;
    font-size: 1.3rem;
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.slider-button:hover {
    color: #585656;
}

.slider-button.active {
    color: #534a4a;
}

@media (max-width: 768px) {
    .slider {
        height: 500px;
        padding-top: 50px;
    }

    .slider-buttons {
        display: none;
        bottom: -33px;
    }

    .slider .arrow {
        top: 50%;
    }

    .slider .dots {
        top: 5px;
    }
}