.wishlistItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    top: 40px;
    left: 100px;
}

.wishlistCard {
    width: 400px;
    padding: 10px;
    position: relative;
    top: 100px;
    border: 1px solid #ccc;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.wishlistCard_img {
    max-width: 50%;
    position: relative;
    left: 100px;
    text-align: center;
}

.wishlistCard_img img {
    max-width: 100%;
    height: auto;
}

.wishlistCard_header {
    padding: 10px;
    text-align: center;
}

.wishlistCard_header h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.wishlistCard_header p {
    font-size: 16px;
    color: #888;
}

ul {
    list-style-type: none;
}

.wishlistButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#wishlistAddToCartButton {
    position: relative;
    right: 10px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #e2e2e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#wishlistAddToCartButton:hover {
    border: 1px solid black
}

#wishlistRemoveButton {
    position: relative;
    left: 10px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #e2e2e2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#wishlistRemoveButton:hover {
    border: 1px solid black;
}

.noItemsInWishlist {
    position: relative;
    top: 200px;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.noItemsInWishlist p {
    font-size: 22px;
    margin-bottom: 10px;
}

.noItemsInWishlist a {
    color: #007bff;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.noItemsInWishlist img {
    margin-bottom: 20px;
}

.noItemsInWishlist a:hover {
    text-decoration: none;
    color: #015bba;
}

.alertRemove {
    position: fixed;
    bottom: 870px;
    right: 8px;
    width: 450px;
    height: 50px;
    background-color: rgba(192, 23, 23, 0.8);
    color: white;
    border-radius: 9px;
    z-index: 10;
}

.alertRemove p {
    text-align: center;
    position: relative;
    top: 14px;
    right: 56px;
}

.cancelPopupButtonRemove {
    position: relative;
    bottom: 19px;
    left: 200px;
    margin-top: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.cancelPopupButtonRemove:hover {
    text-decoration: underline;
    color: #dfdede;
}